@model IEnumerable<EDUCACOOPERN.Models.Matricula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaPre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaPos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compareceu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aula.ProfessorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaPre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaPos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compareceu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
