@model EDUCACOOPERN.ViewModels.CooperadoViewModel

@{
    ViewData["Title"] = "Cooperados";
}

<div class="row">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="col text-end">
        <h4 class="mt-2">Detalhes</h4>
    </div>
</div>

<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Nome)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Celular)
    </dt>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Celular)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Registro)
    </dt>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Registro)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NomeAlternativo)
    </dt>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NomeAlternativo)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CelularAlternativo)
    </dt>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CelularAlternativo)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Ativo)
    </dt>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Ativo)
    </dd>
</dl>

@if (Model.PDIs != null && Model.PDIs.Any())
{
    <div class="card mt-2">
        <div class="card-header">
            <h6>PDIs</h6>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col">PDI</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pdi in Model.PDIs)
                    {
                        <tr class="row">
                            <td class="col">@pdi.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.AreasAtuacao != null && Model.AreasAtuacao.Any())
{
    <div class="card mt-2">
        <div class="card-header">
            <h6>Áreas de atuações</h6>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col">Área</th>
                        <th class="col">Serviços</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var area in Model.AreasAtuacao)
                    {
                        <tr class="row">
                            <td class="col">@area.Nome</td>
                            <td class="col">@area.ServicosNome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.Formacoes != null && Model.Formacoes.Any())
{
    <div class="card mt-2">
        <div class="card-header">
            <h6>Formações</h6>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-4">Grau</th>
                        <th class="col">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var formacao in Model.Formacoes)
                    {
                        <tr class="row">
                            <td class="col-4">@formacao.Tipo</td>
                            <td class="col">@formacao.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Editar</a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Deletar</a>
        <a asp-action="Index" class="btn btn-light"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
    </div>
</div>
