@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Professores";
}

<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="col text-end">
        <a asp-action="Create" class="btn btn-primary mt-3"><i class="bi bi-plus-circle me-1"></i>Cadastrar</a>
    </div>

</div>

<hr />

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th class="col-5">
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th class="col-5">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col-5">
                        @item.FullName
                    </td>
                    <td class="col-5">
                        @item.Email
                    </td>
                    <td class="col-2 text-end">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-light"><i class="bi bi-pencil"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-light"><i class="bi bi-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center">
                Ainda não há nenhum(a) professor(a) cadastrado(a)!
            </div>
        </div>
    </div>
}