@model List<EDUCACOOPERN.DTOs.PDISintetico>


@{
    ViewData["Title"] = "Relatório - Acompanhamento de PDIs Analitíco";
}

<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<hr />

<div class="card text-bg-light mb-3">
    <div class="card-body">
        <form method="get" class="mb-2">
            <div class="row">
                <div class="col">
                    <label class="control-label">Nome</label>
                    <input class="form-control" name="nome" />
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label class="control-label">Serviços</label>
                        <select asp-items="@ViewBag.Servicos" name="servico" class="form-select servicos">
                            <option>-- Selecione um serviço de saúde --</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary mt-4">
                        <i class="bi bi-search"></i>
                        Procurar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@if (Model != null && Model.Any())
{
    <div class="accordion" id="accordionExample">
        @{
            var agrupamento = Model.GroupBy(x => new { x.NomePDI, x.NomeUsuario }).ToList();
        }
        @foreach (var usuario in agrupamento)
        {
            var index = agrupamento.IndexOf(usuario);

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@index" aria-expanded="true" aria-controls="#collapse-@index">
                        @usuario.Key.NomeUsuario.ToUpper() - PDI: @usuario.Key.NomePDI.ToUpper()
                    </button>
                </h2>
                <div id="collapse-@index" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <table class="table">
                            <thead>
                                <tr class="row">
                                    <th class="col-10">Curso</th>
                                    <th class="col-2">Situação</th>
                                </tr>
                            </thead>
                            @foreach (var curso in usuario)
                            {
                                var realizado = curso.Realizado > 0 ? "Realizado" : "";
                                var matriculado = curso.Matriculado > 0 ? "Matriculado" : "";
                                var naoRealizado = curso.NaoRealizado > 0 ? "Pendente" : "";

                                <tr class="row">
                                    <td class="col-10">@curso.NomeCurso</td>
                                    <td class="col-2">
                                        @if (!string.IsNullOrEmpty(naoRealizado))
                                        {
                                            <span class="text-danger">@naoRealizado</span>
                                        }
                                        else if (!string.IsNullOrEmpty(matriculado))
                                        {
                                            <span>@matriculado</span>
                                        }
                                        else if (!string.IsNullOrEmpty(realizado))
                                        {
                                            <span>@realizado</span>
                                        }
                                    </td>
                                </tr>

                            }
                        </table>

                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center">
                Ainda não há nenhum cooperado com PDI!
            </div>
        </div>
    </div>
}