@using System.Globalization
@model EDUCACOOPERN.Models.Aula

@{
    ViewData["Title"] = "Planejamento do curso";

    var dataInicial = Model.DataInicio.ToString("dd/MM/yyyy HH:mm");
    var dataFinal = Model.DataFim.ToString("dd/MM/yyyy HH:mm");
    var cultura = new CultureInfo("pt-BR");
}

<div class="row">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="col text-end">
        <h4 class="mt-2">Detalhes</h4>
    </div>
</div>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Professor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @dataInicial
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @dataFinal
        </dd>

        @if (Model.Status == EStatusAula.Pendente || Model.Status == EStatusAula.Finalizada)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Receita)
            </dt>

            <dd class="col-sm-10">
                @(Model.Receita.HasValue ? Model.Receita.Value.ToString("C", cultura) : 0.0m.ToString("C", cultura))
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Coordenador") || User.IsInRole("Professor"))
{
    <div class="row">
        <div class="col-6">
            <h2>Cooperados</h2>
        </div>

        <div class="col text-end">
            @if (User.IsInRole("Coordenador") && (Model.Status == EStatusAula.Aberta || Model.Status == EStatusAula.Realizada))
            {
                <a asp-action="Create" asp-controller="Matriculas" asp-route-id="@Model.Id" class="btn btn-primary mt-3"><i class="bi bi-plus-circle me-1"></i>Matricular cooperado</a>
            }

            @if (Model.Matriculas.Any() && (Model.Status == EStatusAula.Aberta || Model.Status == EStatusAula.Realizada))
            {
                <a asp-action="Lancar" asp-route-id="@Model.Id" class="btn btn-primary mt-3"><i class="bi bi-plus-circle me-1"></i>Frequência e notas</a>
            }
        </div>
    </div>

    <hr />

    @if (Model.Matriculas.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Compareceu?</th>
                    <th>Pré teste</th>
                    <th>Pós teste</th>
                    <th>Situação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var matricula in Model.Matriculas.OrderBy(x => x.Aluno.FullName))
                {
                    <tr>
                        <td>
                            @matricula.Aluno.FullName
                        </td>
                        <td>
                            @(matricula.Compareceu ? "Sim" : "Não")
                        </td>
                        <td>
                            @matricula.NotaPre
                        </td>
                        <td>
                            @matricula.NotaPos
                        </td>
                        <td>
                            @matricula.Status
                        </td>
                        <td>
                            @if (Model.Status == EStatusAula.Aberta)
                            {
                                <a asp-action="Delete" asp-controller="Matriculas" asp-route-id="@matricula.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                            }

                            @if (matricula.Status == EStatusMatricula.Aprovado)
                            {
                                <a asp-action="GerarCertificado" target="_blank" asp-controller="Certificados" asp-route-id="@matricula.Aluno.Id" asp-route-idaula="@Model.Id" class="btn btn-sm btn-info"><i class="bi bi-card-text"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">
            A aula ainda não possui nenhuma matrícula!
        </div>
    }

    @if (User.IsInRole("Coordenador") && (Model.Status == EStatusAula.Pendente || Model.Status == EStatusAula.Finalizada))
    {
        <div class="row">
            <div class="col-12">
                <h2>Custos</h2>
            </div>
        </div>

        <hr />

        @if (Model.Custos != null && Model.Custos.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Classificação</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var custo in Model.Custos)
                    {
                        <tr>
                            <td>
                                @custo.Classificacao
                            </td>
                            <td>
                                @custo.Valor.ToString("C", cultura)
                            </td>
                        </tr>
                    }

                    <tr>
                        <td colspan="2">Total: @Model.Custos.Sum(x => x.Valor).ToString("C", cultura)</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info">
                A aula ainda não possui nenhum custo lançado!
            </div>
        }
    }
}

@if (User.IsInRole("Coordenador"))
{
    <div class="row">
        <div class="col">
            @if (Model.Status == EStatusAula.Aberta)
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Editar</a>
                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Deletar</a>
            }
            else if (Model.Status == EStatusAula.Realizada)
            {
                <a asp-action="Custos" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Custos</a>
            }
            else if (Model.Status == EStatusAula.Pendente)
            {
                <a asp-action="Finalizar" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Finalizar</a>
            }

            <a asp-action="Index" class="btn btn-light"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
        </div>
    </div>
}

@if (User.IsInRole("Professor"))
{
    <div class="row">
        <div class="col">
            <a asp-action="Index" class="btn btn-light"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
        </div>
    </div>
}

@if (User.IsInRole("Cooperado"))
{
    <form asp-action="Create" asp-controller="Matriculas">
        <input type="hidden" name="AulaId" value="@Model?.Id" />
        <div class="row">
            <div class="col">
                @if (Model.Status == EStatusAula.Aberta && (Model.Matriculas == null || !Model.Matriculas.Any(x => x.AlunoId.Equals(User.Identity.Name) && x.Status == EStatusMatricula.Matriculado)))
                {
                    <button type="submit" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Matricular</button>
                }
                <a asp-action="Abertas" class="btn btn-light"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
            </div>
        </div>
    </form>
}