@using System.Globalization
@model EDUCACOOPERN.Models.Aula

@{
    ViewData["Title"] = "Aulas";
    var cultura = new CultureInfo("pt-BR");
}

<div class="row">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col text-end">
        <h4 class="mt-2">Editar</h4>
    </div>
</div>

<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <select asp-for="CursoId" class="form-select" asp-items="ViewBag.CursoId"></select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ProfessorId" class="control-label"></label>
                <select asp-for="ProfessorId" class="form-select" asp-items="ViewBag.ProfessorId"></select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Receita" class="control-label"></label>
                <input asp-for="Receita" class="form-control" />
                <span asp-validation-for="Receita" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <h6 class="mt-2">Custos</h6>

    <hr />

    <div class="row">
        <div class="col-2">
            <div class="form-group">
                <label class="control-label">Custo</label>
                <input class="form-control custo-valor" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Classificação</label>
                <select class="form-select custo-classificacao">
                    <option>-- Selecione uma classificação --</option>
                    <option value="@EClassificacao.Material">Material</option>
                    <option value="@EClassificacao.Professor">Professor</option>
                </select>
                <span asp-validation-for="Custos" class="text-danger"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <button type="button" class="btn btn-light mt-4 btn-adicionar-custo"><i class="bi bi-plus-circle me-1"></i>Adicionar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-2">
            @{
                var possuiCusto = Model.Custos.Any();
            }

            <div class="alert alert-info text-center cooperado-sem-custos @(possuiCusto ? "d-none" : "")">
                A aula ainda não possui nenhum custo lançado!
            </div>

            <table class="table table-striped cooperado-com-custos @(possuiCusto ? "" : "d-none")">
                <thead>
                    <tr class="row">
                        <th class="col-2">Custo</th>
                        <th class="col-8">Classificação</th>
                        <th class="col-2"></th>
                    </tr>
                </thead>
                <tbody id="lista-custos">
                    @if (possuiCusto)
                    {
                        foreach (var custo in Model.Custos)
                        {
                            var index = Model.Custos.IndexOf(custo);

                            <tr class="row item-custos">
                                <td class="col-8">
                                    <input type="hidden" class="dados-item-custo" name="Custos[@index].Valor" value="@custo.Valor" />
                                    <input type="hidden" class="dados-item-custo" name="Custos[@index].Classificacao" value="@custo.Classificacao" />

                                    @custo.Classificacao
                                </td>

                                <td class="col-2">
                                    @custo.Valor.ToString("C", cultura)
                                </td>

                                <td class="col-2 text-end">
                                    <button type="button" class="btn btn-sm btn-danger btn-remover-custo"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="bi bi-floppy me-1"></i>Editar</button>
                <a asp-action="Index" class="btn btn-light"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/custos.js" asp-append-version="true"></script>
}
