@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
</div>

@if (Model.CooperadoHome != null)
{
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Acompanhamento do PDI
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <canvas id="myChartAcompanhamentoPDI"></canvas>
                        </div>
                        <div class="col">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    @foreach (var curso in Model.CooperadoHome.PDI.PDICursos)
                                    {
                                        <li class="list-group-item">
                                            <i class=""></i>
                                            @if (Model.CooperadoHome.CursosRealizados.Contains(curso.CursoId))
                                            {
                                                <span><i class="bi bi-person-check text-primary"></i></span>
                                            }
                                            else
                                            {
                                                <span><i class="bi bi-person-check"></i></span>
                                            }

                                            @curso.Curso.Nome
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Cursos do mês
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    @foreach (var curso in Model.CooperadoHome.CurosDoMes)
                                    {
                                        <a asp-action="Details" asp-controller="Aulas" asp-route-id="@curso.Id">
                                            <li class="list-group-item">
                                                @curso.Curso.Nome
                                            </li>
                                        </a>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.AdministradorHome != null)
{
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Matriculados Por Área de Atuação
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <canvas id="myChartQuantidadePorAreaDeAtuacao"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Matriculados Por Curso
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <canvas id="myChartQuantidadePorCurso"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
 <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Meus Cursos
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    @foreach (var curso in Model.ProfessorHome.MeusCuros)
                                    {
                                        <a asp-action="Details" asp-controller="Aulas" asp-route-id="@curso.Id">
                                            <li class="list-group-item">
                                                    @curso.Curso.Nome
                                            </li>
                                        </a>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
}


@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    @if (User.IsInRole("Cooperado"))
    {
        <script>
            const ctx = document.getElementById('myChartAcompanhamentoPDI');

            new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Realizado', 'Não Realizado'],
                    datasets: [{
                        label: '# quantidades',
                        data: [@Model.CooperadoHome.QuantidadeCursosRealizados, @Model.CooperadoHome.QuantidadeCursosNaoRealizados],
                        borderWidth: 1
                    }]
                }
            });
        </script>
    }
    else if (User.IsInRole("Coordenador"))
    {
        <script>
            const ctx = document.getElementById('myChartQuantidadePorAreaDeAtuacao');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Serialize(Model.AdministradorHome.QuantidadeDeInscritosPorAreaDeAtuacao.Select(x => x.Key))),
                    datasets: @Html.Raw(Json.Serialize(Model.AdministradorHome.QuantidadeDeInscritosPorAreaDeAtuacao.Select(x => new { label = x.Key, data = new int[] { x.Value } })))
                                                    }
            });

            const ctxCurso = document.getElementById('myChartQuantidadePorCurso');
            new Chart(ctxCurso, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Serialize(Model.AdministradorHome.QuantidadeDeInscritosPorCurso.Select(x => x.Key))),
                    datasets: @Html.Raw(Json.Serialize(Model.AdministradorHome.QuantidadeDeInscritosPorCurso.Select(x => new { label = x.Key, data = new int[] { x.Value } })))
                                        }
            });
        </script>
    }
}